* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*************** Elements **************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

/*************** Classes ***************/

.header {
  width: 100%;
  line-height: 100px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
  background-color: #f5ba13 !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}